@page
@model InsuranceDemo.Views.Home.AboutUs

@{
    Layout = "_Layout";
    ViewBag.Title = "About Us";
}

<div class="container about-wrapper">
    <h1 class="banner-heading">Cubeflakes Insurance Claim Application</h1>
    <div class="banner-desc">Welcome to the Cubeflakes Insurance Claim application! This demo application has been specifically developed to demonstrate the utilization of BoldSign APIs in the context of insurance claims. The demo is designed from the perspective of Cubeflakes, a fictional company, providing you with a practical example of how BoldSign can be integrated into real-world insurance processes.</div>

    <div class="about-app-features-wrapper">
        <h5>BoldSign API key features used in this application:</h5>
        <ul class="key-features-list">
            <li class="key-item">Single Signer</li>
            <li class="key-item">Custom branding identity</li>
            <li class="key-item">Templated document with existing form fields</li>
            <li class="key-item">Auto filling form fields</li>
            <li class="key-item">Sign the document without leaving the website</li>
            <li class="key-item">Download signed document copy</li>
        </ul>
    </div>
    <div class="about-reference-links-wrapper">
        <h5>Blog post for this application: </h5>
        <div class="normal banner-desc">We have recently published a comprehensive blog post that details the workflow and implementation of the insurance claim demo application. This article focuses on the advantages of utilizing BoldSign eSignature APIs for insurance processes and offers guidance to developers on seamlessly integrating them into their applications. It delves into the diverse range of features and functionalities provided by BoldSign that can significantly enhance the insurance workflow, including secure document signing, automated document management, and customizable branding options.</div>
        <div class="banner-desc reference"><span class="highlight">Check out the blog post - </span><a class="reference" href="https://boldsign.com/blogs/integrating-esignatures-into-insurance-claim-app-using-boldsign-apis/">https://boldsign.com/blogs/integrating-esignatures-into-insurance-claim-app-using-boldsign-apis/</a></div>
     </div>
     <div class="about-boldsign-wrapper">
         <h5>Application code flow:</h5>
         <h6>Step 1: Prerequisites</h6>
         <ul class="key-features-list">
             <li class="key-item banner-desc"><span class="highlight">BoldSign account and an API key:</span> The API key is located in the <a href="https://app.boldsign.com/api-management/api-key/">API Key - BoldSign</a> page. Refer <a href="https://developers.boldsign.com/authentication/api-key/">BoldSign API documentation</a> to generate and use API key from <a href="https://account.boldsign.com/signup?planId=314">BoldSign Account</a>.</li>
             <li class="key-item banner-desc"><span class="highlight">BoldSign brand ID:</span> Need to create a brand for our insurance company, which will provide a strong and consistent brand impression to the insurance claim users. A new branding can be created in the following two ways. Refer to the attached links for how to create a brand. One is using <a href="https://developers.boldsign.com/branding/create-brand/">BoldSign APIs</a> and another one is using <a href="https://support.boldsign.com/kb/article/19/customize-branding">BoldSign web application</a>.</li>
             <li class="key-item banner-desc"><span class="highlight">BoldSign template ID:</span> we are creating a template with insurance claim form document. This allows to create claim document for different people without having to recreate the document each time. A new template can be created in following two ways. Refer to the attached links for how to create a template. One is using <a href="https://developers.boldsign.com/template/create-template/">BoldSign APIs</a> and another one is using <a href="https://support.boldsign.com/kb/article/31/create-template">BoldSign web application</a>.</li>
         </ul>
         <h6>Step 2: Auto filling form fields</h6>
         <div class="banner-desc">Upon submission of the form and completion of all mandatory fields in both the basic details and address sections, a document will be generated using an existing template from the BoldSign web application. The document will automatically populate the relevant fields with the user's inputs, ensuring seamless integration of the provided information.</div>
         <h6>Step 3: Get embedded signing link</h6>
         <div class="banner-desc">After generating the auto-filled document from the existing template, the next step is to create an embed signing URL. This URL will be loaded into an iFrame within the application, allowing the user to complete the signing process without leaving the application.</div>
         <div class="banner-desc reference"><span class="highlight">Reference:</span> <a href="https://developers.boldsign.com/embedded-signing/get-embedded-signing-link/">https://developers.boldsign.com/embedded-signing/get-embedded-signing-link/</a></div>
         <h6>Step 4: Download signed document</h6>
         <div class="banner-desc">Once all the required fields have been filled in and the signing process is complete, you have the option to be redirected to a specified URL using the `redirectUrl` option. Additionally, if you wish to download a copy of the signed document for your records, you can utilize the following code snippet.</div>
         <div class="banner-desc">You may need to wait for the document to finish the signing process before creating a signed copy, and you cannot estimate the timing. At that moment, set up <a href="https://developers.boldsign.com/webhooks/introduction/">webhooks</a> to listen for event triggers.</div> 
         <div class="banner-desc reference"><span class="highlight">Reference:</span> <a href="https://developers.boldsign.com/embedded-signing/get-embedded-signing-link/">https://developers.boldsign.com/embedded-signing/get-embedded-signing-link/</a></div>
     </div>
    <div class="about-reference-links-wrapper">
        <h5>Other references:</h5>
        <ul class="key-features-list">
            <li class="key-item">BoldSign eSignature API: <a href="https://boldsign.com/esignature-api/">https://developers.boldsign.com/</a></li>
            <li class="key-item">BoldSign API documentation: <a href="https://developers.boldsign.com/">https://developers.boldsign.com/</a></li>
            <li class="key-item">BoldSign demos: <a href="https://demos.boldsign.com/">https://demos.boldsign.com/</a></li>
        </ul>
    </div>
    <div class="signup-wrapper">
        <span class="content">This is the right time to create your Free account!</span>
        <a href="https://account.boldsign.com/signup?planId=315" id="btnSignUp" class="Submit-btn">Sign Up</a>
    </div>
</div>
