@page
@model InsuranceDemo.Views.Home.About

@{
    Layout = "_Layout";
    ViewBag.Title = "About";
}

<div class="container about-wrapper review">
    <h1 class="banner-heading">Cubeflakes Insurance Claim Application</h1>
    <div class="banner-desc">Welcome to the Cubeflakes Insurance Claim application! This demo application has been specifically developed to demonstrate the utilization of BoldSign APIs in the context of insurance claims. The demo is designed from the perspective of Cubeflakes, a fictional company, providing you with a practical example of how BoldSign can be integrated into real-world insurance processes.</div>

    <div class="about-app-features-wrapper">
        <h5>BoldSign API key features used in this application:</h5>
        <ul class="key-features-list">
            <li class="key-item">Single signer</li>
            <li class="key-item">Custom branding</li>
            <li class="key-item">Templated document</li>
            <li class="key-item">Attachment field</li>
            <li class="key-item">Pre-filled form fields</li>
            <li class="key-item">Embedded signing</li>
            <li class="key-item">Download of signed document</li>
        </ul>
    </div>
    <div class="about-reference-links-wrapper new-start">
        <div class="normal banner-desc">The blog post "Integrating eSignatures in Insurance Claim App using .NET" has been published. Check it out this blog post for a step-by-step guide on creating an insurance claim application.</div>
        <div class="banner-desc reference"><a class="reference" href="https://boldsign.com/blogs/integrating-esignatures-in-insurance-claim-app-using-net/">https://boldsign.com/blogs/integrating-esignatures-in-insurance-claim-app-using-net/</a></div>
     </div>
    <div class="about-reference-links-wrapper">
        <h5>Other references:</h5>
        <ul class="key-features-list">
            <li class="key-item">BoldSign eSignature API: <a href="https://boldsign.com/esignature-api/">https://boldsign.com/esignature-api/</a></li>
            <li class="key-item">BoldSign API documentation: <a href="https://developers.boldsign.com/">https://developers.boldsign.com/</a></li>
            <li class="key-item">BoldSign demos: <a href="https://demos.boldsign.com/">https://demos.boldsign.com/</a></li>
        </ul>
    </div>
    <div class="signup-wrapper">
        <span class="content highlight-content">This is the right time to create your <span class="highlight-big">Free</span> account!</span>
        <a href="https://account.boldsign.com/signup?planId=315" id="btnSignUp" class="Submit-btn">Sign Up</a>
    </div>
</div>
